name: coffee_shop_ui
description: A beautiful coffee shop UI built with Flutter

publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.1.1
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  flutter_launcher_icons: ^0.14.1  # <- DIUBAH DARI 0.14.45

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/coffee.png"

flutter:
  uses-material-design: true
  assets:
    - assets/